@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('./fonts/canopee.css');
@import url('./fonts/lemonmilk.css');

* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'LEMON-MILK-UltraLight', sans-serif;
    font-weight: normal;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}



:root {
    --home-bg-color: rgba(0, 117, 93);
    --home-nav-color: rgb(215, 252, 51);
    --home-logo-color: rgb(215, 252, 51);
    --home-text-color: #ffffff;
    --home-hover-color: rgba(0, 117, 93);
    --home-text-stroke-color: #d7fc33;


    --about-bg-color: #ffffff;
    --about-nav-color: rgba(0, 117, 93);
    --about-logo-color: rgba(0, 117, 93);
    --about-text-color: rgba(0, 117, 93);
    --about-hover-color: #ffffff;
    --about-text-stroke-color: rgba(0, 117, 93);


    --contact-bg-color: rgba(0, 117, 93);
    --contact-nav-color: rgb(215, 252, 51);
    --contact-logo-color: rgb(215, 252, 51);
    --contact-text-color: #ffffff;
    --contact-hover-color: rgba(0, 117, 93);
    --contact-text-stroke-color: rgb(215, 252, 51);

    --project-bg-color: #ffffff;
    --project-nav-color: rgba(0, 117, 93);
    --project-logo-color: rgba(0, 117, 93);
    --project-text-color: rgba(0, 117, 93);
    --project-hover-color: #ffffff;
    --project-text-stroke-color: rgba(0, 117, 93);

}

body {
    background-color: var(--home-bg-color);
    color: var(--home-text-color);
}


/******************** Navbar : START ********************/

.navbar {
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 0.85;
    font-size: 7rem;
}



.header {
    padding: 2rem 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.2rem;
    z-index: 100;
}

.logo {
    color: var(--home-text-color);
    cursor: default;
    letter-spacing: -2px;
    font-family: 'Canopee', sans-serif;
    font-weight: 200;
    line-height: 0.75;
    width: 31rem;
}

.firstName,
.lastName {
    font-family: 'Canopee', sans-serif;
}

.firstName {
    font-size: 15rem;
}

.lastName {
    font-size: 10rem;
}

.navbar a {
    letter-spacing: -1px;
    color: var(--home-text-color);
    margin-left: .4rem;
    /* font-family: 'LEMON MILK Pro FTR', sans-serif; */
    font-family: 'Canopee', sans-serif;
    font-weight: 500;
    -webkit-text-stroke: 0.7px;
}

.navbar a.active {
    color: var(--home-hover-color);
}

/******************** Navbar : END ********************/

/*-----------------------------------------------------------------------------------*/


/******************** Section : START ********************/

section {
    min-height: 10vm;
    padding: 1rem 4%;
    /* top=10rem, right&left=9%, bottom=2rem*/
}

/******************** Section : END ********************/

/*-----------------------------------------------------------------------------------*/

/******************** Main : START ********************/

/******************** Main : END ********************/

/*-----------------------------------------------------------------------------------*/

/******************** Home content : START ********************/

.home-content {
    display: flex;
    width: 31rem;
    /* font-size: 1rem; */
    padding-right: 0;
    
}

.home-content h1,
.home-content h3 {
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 0.003rem;
    // letter-spacing: -1px;
    line-height: 1.5rem;
    margin-top: -.7rem;
    -webkit-text-stroke: 0.03rem;
    font-family: 'LEMON-MILK-UltraLight', sans-serif;

}

.home-content h1 {
    margin-bottom: .7rem;
}

/******************** Home content : END ********************/

/*-----------------------------------------------------------------------------------*/

/******************** Home gallery : START ********************/

/* home-gallery */
.home-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;

}

.gallery-item {
    flex-basis: 49%;
    /* Adjust the value as needed */
    text-align: center;
    margin-bottom: 8rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    opacity: 0;
    transition: .5s;
    background-color: var(--home-nav-color);
    object-fit: cover;
}


.gallery-img {
    position: relative;
    height: 100%;
    width: 100%;
}

.gallery-img>img {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    object-fit: cover;
}


.gallery-img:hover .overlay {
    opacity: 1;
}

.gallery-img-text {
    text-align: left;
    padding-top: 1rem;
    font-size: 1.8rem;
}

/******************** Home gallery : END ********************/


/*-----------------------------------------------------------------------------------*/

#shadow {
    z-index: -100;
    position: fixed;
    width: 100vw;
    height: 100vw;
    background: radial-gradient(circle, #d7fc33 0%, transparent 50%);
}


/******************** about content : START ********************/

.about-content * {
    font-weight: 200;
    font-size: 1.9rem;
    font-family: 'LEMON-MILK-UltraLight', sans-serif;
}

.about-me {
    color: white;
    font-size: 3rem;
    text-align: center;

}




.intro {
    /* display: inline-flex;
    justify-content: space-around; */
    display: block;
    margin: auto;
    text-align: center;
}

.about_img {
    border-radius: 50%;
    /* position: relative;
    right: 4rem;
    bottom: 5rem;
    z-index: 100; */
    display: block;
    margin: auto;
    text-align: center;
    width: 20%;
    margin-bottom: 2.5rem;
}

.intro>h3 {
    font-size: 1.9rem;
    width: 68%;
    align-self: flex-end;
}



.intro>span {
    background-color: var(--about-logo-color);
    width: 19rem;
    height: 19rem;
}


/******************** about content : END ********************/

/*-----------------------------------------------------------------------------------*/

/******************** contact content : START ********************/


.contact-content {
    line-height: 4.2rem;
    display: flex;
    padding: 0 4%;
}

.platforms {
    -webkit-text-stroke: 0.1rem;
    letter-spacing: 1px;
    line-height: 4.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.contact-content * {
    font-weight: 300;
    font-size: 3.1rem;
    color: #fff;
}


.circle-contact {
    position: fixed;
    z-index: -1;
    border: 15px solid #21d881;
    border-radius: 50%;
    height: 45rem;
    width: 45rem;
    border-top-color: transparent;
    transform: rotate(85deg);
    overflow: hidden;
    margin-right: 55rem;
    margin-top: -2rem;
}

/******************** contact content : END ********************/

/*-----------------------------------------------------------------------------------*/

/******************** project content : START ********************/

.project-content {
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding: 0 4% 1.5rem 4%;
    font-size: 1rem;
}

.projectName {
    color: var(--project-text-color);
    letter-spacing: -2px;
    /* font-family: 'LEMON MILK Pro FTR', sans-serif; */
    font-family: 'Unbounded', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

.projectDesc {
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.8rem;
    -webkit-text-stroke: 0.06rem;
    font-family: 'LEMON-MILK-UltraLight', sans-serif;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
}

.project-gallery div {
    height: 80vh;
    position: relative;
}

.image-project img {
    object-fit: cover;
    vertical-align: middle;

    width: 100%;
    height: 100%;
}

.footer {
    margin-bottom: 2rem;
}

@media (max-width: 900px) {

    * {
        text-align: center;
    }

    section {
        min-height: auto;
        padding: 0 4vw 0 4vw;
        padding-top: 1vh;
    }

    .home-content h3,
    .home-content h1 {
        font-weight: 200;
        font-size: 1.5rem;
        letter-spacing: -.3px;
        line-height: 2.1rem;
        margin-top: 0;
        font-family: 'Unbounded', sans-serif;
        /* font-family: 'LEMON MILK Pro FTR', sans-serif; */
    }

    .home-content h1 {
        margin-bottom: 0;
    }

    .projectDesc {
        font-weight: 200;
        font-size: 1.5rem;
        letter-spacing: -.3px;
        /* margin-top: 0; */
        line-height: 2.1rem;
        margin-bottom: 2.2rem;
    }


    .home-gallery,
    .header,
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3vh;
    }

    .navbar {
        text-align: center;
    }

    .image-project img {
        object-fit: cover;
    }


    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: calc(100% + 2px);
        height: calc(99%);
        opacity: 0;
        transition: .5s;
        background-color: #21d881;
        object-fit: cover;
    }

    .project-gallery div {
        height: auto;
        position: relative;
    }

    .about-me,
    .square {
        display: none;
    }

    .intro {
        display: block;
        margin: auto;
        text-align: center;
    }

    .intro>h3,
    .about-content>h3 {
        font-size: 1.2rem;
        font-weight: bold;
        width: auto;
        align-self: flex-end;
        margin-bottom: 3vh;
        text-align: center;
    }

    .contact-content {
        line-height: 3.2rem;
        display: flex;
        justify-content: space-evenly;
    }

    .about_img {
        width: 40%;
    }

    .platforms h3 {
        font-size: 4vh;
    }

    .circle-contact {
        position: absolute;
        z-index: -1;
        border: 16px solid #21d881;
        border-radius: 50%;
        height: 37rem;
        width: 38rem;
        border-top-color: transparent;
        transform: rotate(85deg);
        overflow: hidden;
        margin-right: 24rem;
        margin-top: 0rem;
    }

    .footer {
        margin-bottom: 4rem;
    }

}