<nav class="admin-nav">
    <ul>
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/mode?editing=<%= editing ? "false" : "true" %>"><%= editing ? "Guest" : "Edit" %> Mode</a></li>
        <li><a href="/admin/settings">Settings</a></li>
        <li>
            <form action="/admin/logout" method="post">
                <%- include('./csrf-input.ejs') -%>
                    <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>