<div class="footer"></div>
</main>
<!--   body/main : END    -->



<script type="text/javascript">
    const currentPage = "<%= page.pageName %>";



    // define background color
    document.querySelector("body").style.backgroundColor = 'var(--' + currentPage + '-bg-color)';

    // define text color
    document.querySelector("body").style.color = 'var(--' + currentPage + '-text-color)';

    // define '.logo' color
    document.querySelector(".logo").style.color = 'var(--' + currentPage + '-logo-color)';

    // define mobile-nav color
    document.querySelector(".menu-btn").style.color = 'var(--' + currentPage + '-nav-color)';

    if (currentPage != "project") {
        // add active class to relevant 'navbar a' item
        document.querySelector("#" + currentPage).classList.add("active");
        // define '.navbar a:active' color
        document.querySelector("#" + currentPage).style.color = 'var(--' + currentPage + '-hover-color)';
    }

    // define shadow location
    switch (currentPage) {
        case "contact":
            document.querySelector("#shadow").style.top = "-5%";
            break;
        case "about":
            document.querySelector("#shadow").style.right = "45%";
            document.querySelector("#shadow").style.top = "-50%";
            break;
        case "home":
            document.querySelector("#shadow").style.display = "none";
            break;
        default:
            document.querySelector("#shadow").style.left = "40%";
            document.querySelector("#shadow").style.bottom = "-90%";
    }


    // define '.navbar a, .navbar a:hover' color
    document.querySelectorAll(".navbar a").forEach((a) => {
        a.style.webkitTextStrokeColor = 'var(--' + currentPage + '-text-stroke-color)';

        if (a.className != 'active') {
            a.style.color = 'var(--' + currentPage + '-nav-color)';

            a.addEventListener('mouseover', function (event) {
                event.target.style.color = 'var(--' + currentPage + '-hover-color)';
            });

            a.addEventListener('mouseout', function (event) {
                event.target.style.color = 'var(--' + currentPage + '-nav-color)';
            });
        }
    });


    // mobile-nav
    document.querySelector("#active").addEventListener('click', (event) => {
        if (event.target.checked) {
            document.querySelector('.menu-btn').style.position = 'fixed';
            document.querySelector(".menu-btn").style.color = '#00755d';
            document.querySelector('.menu-btn').innerHTML = 'X';
        } else {
            document.querySelector(".menu-btn").style.color = 'var(--' + currentPage + '-nav-color)';
            document.querySelector('.menu-btn').style.position = 'absolute';
            document.querySelector('.menu-btn').innerHTML = '///';
        };
    });

    // zoom handling
    document.addEventListener('pinchzoom', (event) => {
        event.preventDefault();
    });

</script>

</body>

</html>