<%- include("partials/header") -%>

    <!--   body/main/about-content : START    -->
    <section class="about-content">


        <!-- <p class="about-me">ABOUT ME</p> -->


        <div class="intro">

            <img class="about_img" src="/green_about_img.png" alt="">

            <div class="aboutText">
                <%= page.pageContent[0] %>
                <%= page.pageContent[1] %>
            </div>

        </div>

    </section>
    <!--   body/main/about-content : END    -->


    <%- include("partials/footer") -%>