@font-face {
    font-family: 'LEMON MILK Pro FTR';
    src: url('LEMONMILKProFTR-Regular.woff2') format('woff2'),
        url('LEMONMILKProFTR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON MILK Pro FTR';
    src: url('LEMONMILKProFTR-UltraLight.woff2') format('woff2'),
        url('LEMONMILKProFTR-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON MILK Pro FTR';
    src: url('LEMONMILKProFTR-Bold.woff2') format('woff2'),
        url('LEMONMILKProFTR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON MILK Pro FTR';
    src: url('LEMONMILKProFTR-RegularItalic.woff2') format('woff2'),
        url('LEMONMILKProFTR-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON MILK Pro FTR';
    src: url('LEMONMILKProFTR-MediumItalic.woff2') format('woff2'),
        url('LEMONMILKProFTR-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON MILK Pro FTR';
    src: url('LEMONMILKProFTR-BoldItalic.woff2') format('woff2'),
        url('LEMONMILKProFTR-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON MILK Pro FTR';
    src: url('LEMONMILKProFTR-Medium.woff2') format('woff2'),
        url('LEMONMILKProFTR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON MILK Pro FTR';
    src: url('LEMONMILKProFTR-UltraLightItalic.woff2') format('woff2'),
        url('LEMONMILKProFTR-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

