<section class="project-content">

    <form class="new-project-form" action="/admin/add-new-project" method="POST">

        <input class="projectName projectNameEdit" placeholder="Project name" name="projectName" id="projectName">

        <textarea class="styled-textarea" placeholder="Project description" name="projectDesc" id="projectDesc"
            rows="6"></textarea>


        <div class="save-btn-container">
            <button class="save-btn" type="submit">Save</button>
        </div>


        <button class="save-btn" id="addLinkBtn">Add photo</button>
        <div id="linksDiv">

            <div class="link-container">
                <label for="mainImg">Main project image: </label>
                <input type="url" class="input-url" name="mainImg" placeholder="Enter .jpg, .JPG, .png or .PNG URL"
                    title="Please enter a valid .jpg, .JPG, .png or .PNG file URL"
                    required />
            </div>

            <div class="link-container">
                <label for="images">Image link: </label>
                <input type="url" class="input-url" name="images" placeholder="Enter .jpg, .JPG, .png or .PNG URL"
                    title="Please enter a valid .jpg, .JPG, .png or .PNG file URL"
                    required />

            </div>
        </div>


        <%- include('../../csrf-input.ejs') %>
    </form>


</section>


<script>

    // Function to add a new input field for a new link
    document.getElementById('addLinkBtn').addEventListener('click', function (e) {
        e.preventDefault();

        const newElement = `
                        <div class="link-container">
                        <label for="images">Image link: </label>
                        <span class="span-url">
                            <input type="url" class="input-url" name="images" placeholder="Enter .jpg, .JPG, .png or .PNG URL"
                                title="Please enter a valid .jpg, .JPG, .png or .PNG file URL" required />
                            <button class="delete-btn-circle" type="button" value="delete" name="editImageOp" onclick="deleteElement(this)"></button>
                        </span>

                    </div>`;

        // Insert the new input element before the button
        const linksDiv = document.getElementById('linksDiv');
        // Find the last added .link-container element
        const lastLinkContainer = document.querySelector('.link-container:last-of-type');

        // Insert the new input element after the newest input
        lastLinkContainer.insertAdjacentHTML('afterend', newElement);

    });


    function deleteElement(button) {
        button.parentElement.parentElement.remove();
    }
    
</script>