<%- include("../../partials/header.ejs") -%>




    <!------ body/main/home-content : START ------>
    <%- include("../../pages/home/partials/section-home-content.ejs") -%>
    <!------ body/main/home-content : END ------>



    <h1>
        FROM ADMIN VIEW
    </h1>



    <!------ body/main/home-gallery : START ------>
    <%- include("../../pages/home/partials/section-home-gallery.ejs") -%>

    <!------ body/main/home-gallery : END ------>



<%- include("../../partials/footer.ejs") -%>
