@font-face {
    font-family: 'Canopee';
    src: url('./canopee/Canopee-Regular.woff2') format('woff2'),
        url('./canopee/Canopee-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

