@font-face {
    font-family: 'LEMON-MILK';
    src: url('./lemonMilk/LEMONMILKProFTR-Regular.woff2') format('woff2'),
        url('./lemonMilk/LEMONMILKProFTR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON-MILK-UltraLight';
    src: url('./lemonMilk/LEMONMILKProFTR-UltraLight.woff2') format('woff2'),
        url('./lemonMilk/LEMONMILKProFTR-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'LEMON-MILK-Medium';
    src: url('./lemonMilk/LEMONMILKProFTR-Medium.woff2') format('woff2'),
        url('./lemonMilk/LEMONMILKProFTR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'LEMON-MILK-Bold';
    src: url('./lemonMilk/LEMONMILKProFTR-Bold.woff2') format('woff2'),
        url('./lemonMilk/LEMONMILKProFTR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


// @font-face {
//     font-family: 'LEMON-MILK-Pro-FTR';
//     src: url('./lemonMilk/LEMONMILKProFTR-RegularItalic.woff2') format('woff2'),
//         url('./lemonMilk/LEMONMILKProFTR-RegularItalic.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'LEMON-MILK-Pro-FTR';
//     src: url('./lemonMilk/LEMONMILKProFTR-MediumItalic.woff2') format('woff2'),
//         url('./lemonMilk/LEMONMILKProFTR-MediumItalic.woff') format('woff');
//     font-weight: 500;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'LEMON-MILK-Pro-FTR';
//     src: url('./lemonMilk/LEMONMILKProFTR-BoldItalic.woff2') format('woff2'),
//         url('./lemonMilk/LEMONMILKProFTR-BoldItalic.woff') format('woff');
//     font-weight: bold;
//     font-style: italic;
//     font-display: swap;
// }


// @font-face {
//     font-family: 'LEMON-MILK-Pro-FTR';
//     src: url('./lemonMilk/LEMONMILKProFTR-UltraLightItalic.woff2') format('woff2'),
//         url('./lemonMilk/LEMONMILKProFTR-UltraLightItalic.woff') format('woff');
//     font-weight: 200;
//     font-style: italic;
//     font-display: swap;
// }
