<section class="home-gallery">


    <% if (isAuthenticated && editing) { %>
        <a href="/admin/new-project">
            <div class="gallery-item">
                <div class="gallery-img">
                    <img src="https://ik.imagekit.io/shahar/new-project.png" alt="upload a new project" class="add-project">
                    <div class="overlay">
                        <div class="gallery-img-text">Upload a new project</div>
                    </div>
                </div>
            </div>
        </a>
    <% } %>
    
    

    <!-- projects.slice().reverse().forEach()   for reverse list projects -->
    <% projects.forEach(project => { %>
        <a href= <%= toKebabCase(project.projectName) %>>
            <div class="gallery-item">
                <div class="gallery-img">
                    <img src= <%= project.mainImg %> alt= <%= project.projectName %> class="image">
                    <div class="overlay">
                        <div class="gallery-img-text"><%= project.projectName %></div>
                    </div>
                </div>
            </div>
        </a>
    <% }) %>
    
</section>